@using ATHNN.Controllers
@using Microsoft.ApplicationInsights.Extensibility.Implementation
@using Microsoft.AspNet.Identity
@model ATHNN.Models.Post

@{
    ViewBag.Title = "Details";
}

<section class="row">
                <div class="row">
                <div class="post col-md-6">

                    <h2>
                        @Html.DisplayFor(model => model.Title)
                    </h2>

                    <div class="share-bar" style="padding-top: 2px; float: right;">
                         <a href="javascript:window.open('http://twitter.com/share?@HttpContext.Current.Request.Url.AbsoluteUri', 'yourWindowName', 'width=600,height=450');"
                                 target="_blank"
                                 title="SHARE">
                            <img class="img.responsive" style="height: 40px;" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/twitter_letter-512.png" alt="Sample image"/>
                        </a>
                    </div>

                    <div>
                        Posted on <i><strong>@Model.Date.ToString("dd.MM.yyyy")</strong></i>
                        <br/>
                        @if (Model.Author != null)
                        {
                            @:By <i>@Model.Author.FullName <strong>(@Model.Author.UserName)</strong></i>
                        }
                        else
                        {
                            @:By Anonymous
                        }
                       
                    </div>
                    <div class="body">
                        @{ 
                            if (ViewBag.PostExists)
                            {
                                <a href="@Model.Body">
                                    <img src="@Model.Body" alt="Sample Image" width="100%"/>
                                </a>
                            }
                            else
                            {
                                <a href="https://az853139.vo.msecnd.net/static/images/not-found.png">
                                    <img src="https://az853139.vo.msecnd.net/static/images/not-found.png" alt="Sample Image" width="100%"/>
                                </a>
                            }
                        }

                    </div>
                    <div style="border-bottom: 1px solid rgba(0,0,0,0.1)">
                        <div style="padding-bottom: 2px;"><strong>Tags:</strong></div>
                        
                        @foreach (var tag in Model.TagString.Split(' '))
                        {
                            <div style="padding-left: 3px; padding-right: 3px; display: inline-block; border-radius: 5px 10px 5px 10px; border: 2px solid black;"><strong>@tag</strong></div>
                        }
                    </div>

                    <div>
                        <div><h4> @Model.Comments.Count Comments: </h4></div>
                        @foreach (var cm in Model.Comments)
                        {
                            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 5px; ">
                                @if (cm.Author != null)
                                {
                                <div>
                                    <strong>@cm.Author.FullName</strong> (<i><strong>@cm.Author.UserName</strong></i>)
                                </div>
                                }
                                else
                                {
                                @:By Anonymous
                                }
                                <div>@cm.Text</div>

                                <div style="font-size: x-small;">
                                    Posted on <i>@cm.Date.ToString("dd.MM.yyyy")</i>
                                </div>
                                
                            </div>
                        }
                    </div>
             
                </div>
            </div>

</section>
<p>
    @if (@Model.Author.Id == User.Identity.GetUserId())
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) @:|
    }
    @if (@Model.Author.Id == User.Identity.GetUserId())
    {
        @Html.ActionLink("Delete","Delete",new {id=Model.Id}) @:|
    }
    <a href="../../Comments/Create/@Model.Id">Add new comment</a> |
    @Html.ActionLink("Back to List", "Index")
</p>
