@using Microsoft.ApplicationInsights.Extensibility.Implementation
@model ATHNN.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<section class="row">
                <div class="row">
                <div class="post col-md-6">
                   
                        <h2>
                            @Html.DisplayFor(model => model.Title)
                        </h2>
                    
                    <div>
                        Modeled on <i>@Model.Date</i>
                        @if ( Model.Author != null )
                        {
                            @:by <i>@Model.Author.FullName (@Model.Author.UserName)</i>
                        }
                        else
                        {
                            @:by Anonymous
                        }

                    </div>
                    <div class="body">
                        @{
                            if (true)//TODO
                            {
                                <a href="../Models/Details/@Model.Id">
                                    <img src="@Model.Body" alt="Sample Image" width="100%" />
                                </a>
                            }
                            else
                            {
                                <a href="../Models/Details/@Model.Id">
                                    <img src="https://az853139.vo.msecnd.net/static/images/not-found.png" alt="Sample Image" width="100%" />
                                </a>
                            }
                        }

                    </div>
                    <hr />
                </div>
            </div>

</section>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
