@{
    ViewBag.Title = "Home Page";
    //test changes for git desktop
}

@model List<ATHNN.Models.Post>
<section class="row">
@foreach (var post in Model)
{
    <div class="row">
        <div class="post col-md-6">
            <h2>@post.Title</h2>
            <div>
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                else
                {
                @:by Anonymous
                }
            </div>
            <div class="body">@Html.Raw(@post.Body)</div>
        </div>
    </div>
}
</section>